.btn {
  order: 1;
  margin: 40px;
  width: 200px;
  height: 200px;
  background-color: green;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.btn-dlt {
  order: 1;
  margin: auto;
  width: 200px;
  height: 100px;
  background-color: red;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}